<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <link rel="icon" type="image/x-icon" href="bakery-logo.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/menu.css' %}"
    />
  </head>
  <body>
    <div class="discount">
      <h6>
        Get a FREE donut of your choice with a purchase of a large coffee!!
      </h6>
    </div>
    <main class="d-flex flex-row">
      <div
        class="sidebar col-3 d-flex flex-column flex-shrink-0 sticky-top vh-100 align-items-center"
      >
        <div class="d-flex justify-content-center">
          <img
            class="bakery-logo"
            src="{% static 'img/bakery-logo.png' %}"
            alt="Bakery Logo"
          />
        </div>
        <button
          class="sidebar-button"
          onclick="location.href='{% url 'index' %}'"
        >
          Home
        </button>
        <button
          class="sidebar-button sidebar-active"
          onclick="location.href='{% url 'menu' %}'"
        >
          Order
        </button>
        <button class="sidebar-button" onclick="location.href='';">Cart</button>
      </div>
      <div class="main-content col d-flex flex-column align-items-center">
        <div class="coffee-card card text-center">
          <div class="card-body">
            <h2 class="card-title">☕️Coffee☕️</h2>
            <br />
            <a href="#" class="order-coffee-btn btn btn-primary"
              >Order Coffee Now 😋</a
            >
          </div>
        </div>
        <div class="donut-card card text-center">
          <div class="card-body">
            <h2 class="card-title">🍩Donut🍩</h2>
            <br />
            <a href="#" class="order-donut-btn btn btn-primary"
              >Order Donut Now 😋</a
            >
          </div>
        </div>
        <div class="coffee-menu-title">
          <h1>Our Coffee</h1>
        </div>
        <div class="coffee-menu card-group">
          <div class="latte-card card">
            <img
              src="{% static 'img/latte.jpeg' %}"
              class="card-img-top"
              alt="Latte"
            />
            <div class="menu-card-body card-body">
              <h5 class="menu-card-title card-title">Latte</h5>
              <p class="card-text">
                A milk coffee that is a made up of one or two shots of espresso,
                steamed milk and a final, thin layer of frothed milk on top
              </p>
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <div class="dropdown">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Flavors
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <button class="dropdown-item" type="button">
                            Caramel
                          </button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">
                            Vanilla
                          </button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">
                            Hazelnut
                          </button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">
                            Cinnamon
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col">
                    <div class="dropdown">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Quantity
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <button class="dropdown-item" type="button">1</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">2</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">3</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">4</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="macchiato-card card">
            <img
              src="{% static 'img/macchiato.jpeg' %}"
              class="card-img-top"
              alt="macchiato"
            />
            <div class="menu-card-body card-body">
              <h5 class="menu-card-title card-title">Macchiato</h5>
              <p class="card-text">
                An espresso coffee drink, topped with a small amount of foamed
                or steamed milk to allow the taste of the espresso to still
                shine through
              </p>
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <div class="dropdown">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Flavors
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <button class="dropdown-item" type="button">
                            Caramel
                          </button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">
                            Vanilla
                          </button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">
                            Hazelnut
                          </button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">
                            Cinnamon
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col">
                    <div class="dropdown">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Quantity
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <button class="dropdown-item" type="button">1</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">2</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">3</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">4</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cappuccino-card card">
            <img
              src="{% static 'img/cappuccino.jpeg' %}"
              class="card-img-top"
              alt="cappuccino"
            />
            <div class="menu-card-body card-body">
              <h5 class="menu-card-title card-title">Cappuccino</h5>
              <p class="card-text">
                A hot coffee drink made with espresso, steamed milk, and milk
                foam, layered on top of each other. The perfect balance of
                espresso, steamed milk and foam
              </p>
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <div class="dropdown">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Flavors
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <button class="dropdown-item" type="button">
                            Caramel
                          </button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">
                            Vanilla
                          </button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">
                            Hazelnut
                          </button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">
                            Cinnamon
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col">
                    <div class="dropdown">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Quantity
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <button class="dropdown-item" type="button">1</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">2</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">3</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">4</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="espresso-card card">
            <img
              src="{% static 'img/espresso.jpeg' %}"
              class="card-img-top"
              alt="espresso"
            />
            <div class="menu-card-body card-body">
              <h5 class="menu-card-title card-title">Espresso Shot</h5>
              <p class="menu-card-text card-text">
                A concentrated, full-flavored coffee beverage that's made from
                forcing pressurized water through finely-ground coffee beans.
              </p>
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <div class="dropdown">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Quantity
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <button class="dropdown-item" type="button">1</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">2</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">3</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">4</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="coffee-menu-title">
          <h1>Regular Donut</h1>
        </div>
        <div class="donut-menu card-group">
          <div class="original-card card">
            <img
              src="{% static 'img/original.jpeg' %}"
              class="card-img-top"
              alt="original"
            />
            <div class="menu-card-body card-body">
              <h5 class="menu-card-title card-title">Original Glaze</h5>
              <p class="card-text">
                Indulge in the classic sweetness of our Original Glaze Donut.
                Made with our signature fluffy dough, this donut is fried to
                perfection and delicately coated in a luscious glaze
              </p>
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <div class="dropdown">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Quantity
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <button class="dropdown-item" type="button">1</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">2</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">3</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">4</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="strawberry-card card">
            <img
              src="{% static 'img/strawberry-glaze.jpeg' %}"
              class="card-img-top"
              alt="strawberry"
            />
            <div class="menu-card-body card-body">
              <h5 class="menu-card-title card-title">Strawberry Glaze</h5>
              <p class="card-text">
                A fluffy, freshly baked doughnut topped with a luscious
                strawberry glaze
              </p>
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <div class="dropdown">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Quantity
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <button class="dropdown-item" type="button">1</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">2</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">3</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">4</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vanilla-card card">
            <img
              src="{% static 'img/vanilla-glaze.jpeg' %}"
              class="card-img-top"
              alt="vanilla"
            />
            <div class="menu-card-body card-body">
              <h5 class="menu-card-title card-title">Vanilla Glazed</h5>
              <p class="card-text">
                A classic treat featuring a soft, airy donut coated in a smooth
                vanilla glaze
              </p>
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <div class="dropdown">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Quantity
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <button class="dropdown-item" type="button">1</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">2</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">3</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">4</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="chocolate-card card">
            <img
              src="{% static 'img/chocolate-glaze.jpeg' %}"
              class="card-img-top"
              alt="chocolate"
            />
            <div class="menu-card-body card-body">
              <h5 class="menu-card-title card-title">Chocolate Glazed</h5>
              <p class="card-text">
                A fluffy, freshly baked donut coated with a glossy layer of
                decadent chocolate glaze
              </p>
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <div class="dropdown">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Quantity
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <button class="dropdown-item" type="button">1</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">2</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">3</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">4</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Speicalty Donuts -->
        <div class="coffee-menu-title">
          <h1>Specialty Donuts</h1>
        </div>
        <div class="donut-menu card-group">
          <div class="bostonCream-card card">
            <img
              src="{% static 'img/boston-cream.jpeg' %}"
              class="card-img-top"
              alt="bostonCream"
            />
            <div class="menu-card-body card-body">
              <h5 class="menu-card-title card-title">Boston Cream</h5>
              <p class="card-text">
                A fluffy yeast-raised doughnut filled to the brim with smooth,
                creamy custard, and topped with a generous drizzle of rich
                chocolate ganache,
              </p>
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <div class="dropdown">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Quantity
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <button class="dropdown-item" type="button">1</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">2</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">3</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">4</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="jelly-card card">
            <img
              src="{% static 'img/jelly.jpeg' %}"
              class="card-img-top"
              alt="jelly"
            />
            <div class="menu-card-body card-body">
              <h5 class="menu-card-title card-title">Jelly</h5>
              <p class="card-text">
                A raised donut that's filled with strawberry jam or jelly, and
                topped with powdered sugar
              </p>
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <div class="dropdown">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Quantity
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <button class="dropdown-item" type="button">1</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">2</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">3</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">4</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mapleBacon-card card">
            <img
              src="{% static 'img/maple-bacon.jpeg' %}"
              class="card-img-top"
              alt="mapleBacon"
            />
            <div class="menu-card-body card-body">
              <h5 class="menu-card-title card-title">Maple Bacon</h5>
              <p class="card-text">
                Pastry glazed with rich maple syrup, then adorned with crispy,
                savory bacon pieces.
              </p>
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <div class="dropdown">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Quantity
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <button class="dropdown-item" type="button">1</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">2</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">3</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">4</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- More Speicalty Donut -->
        <div class="donut-menu card-group">
          <div class="smore-card card">
            <img
              src="{% static 'img/smore.jpeg' %}"
              class="card-img-top"
              alt="smore"
            />
            <div class="menu-card-body card-body">
              <h5 class="menu-card-title card-title">S'more</h5>
              <p class="card-text">
                Baked graham cracker cake donuts topped with chocolate ganache,
                toasted vanilla meringue, and crushed graham crackers!
              </p>
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <div class="dropdown">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Quantity
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <button class="dropdown-item" type="button">1</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">2</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">3</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">4</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cruller-card card">
            <img
              src="{% static 'img/cruller.jpeg' %}"
              class="card-img-top"
              alt="cruller"
            />
            <div class="menu-card-body card-body">
              <h5 class="menu-card-title card-title">Cruller</h5>
              <p class="card-text">
                A cruller is a sweet, twisted donut made from a special dough.
                It's fried until golden and has a soft inside with a slightly
                crispy outside
              </p>
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <div class="dropdown">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Quantity
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <button class="dropdown-item" type="button">1</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">2</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">3</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">4</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="highlanderYumYum-card card">
            <img
              src="{% static 'img/maple-bacon.jpeg' %}"
              class="card-img-top"
              alt="highlanderYumYum"
            />
            <div class="menu-card-body card-body">
              <h5 class="menu-card-title card-title">HighlanderYumYum</h5>
              <p class="card-text">
                Pastry glazed with rich maple syrup, then adorned with crispy,
                savory bacon pieces.
              </p>
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <div class="dropdown">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Quantity
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <button class="dropdown-item" type="button">1</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">2</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">3</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">4</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Vegan Donut -->
        <div class="coffee-menu-title">
          <h1>Vegan and Gluten Free Donuts</h1>
        </div>
        <div class="donut-menu card-group">
          <div class="pbnj card">
            <img
              src="{% static 'img/pbnj.jpeg' %}"
              class="card-img-top"
              alt="pbnj"
            />
            <div class="menu-card-body card-body">
              <h5 class="menu-card-title card-title">
                Peanut Butter and Jelly
              </h5>
              <p class="card-text">
                Our Peanut Butter and Jelly Donut is a delightful treat that
                combines the smooth, nutty flavor of peanut butter with the
                sweet tanginess of jelly
              </p>
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <div class="dropdown">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Quantity
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <button class="dropdown-item" type="button">1</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">2</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">3</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">4</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blueberry-cake-card card">
            <img
              src="{% static 'img/blueberryCake.jpeg' %}"
              class="card-img-top"
              alt="blueberry-cake"
            />
            <div class="menu-card-body card-body">
              <h5 class="menu-card-title card-title">Blueberry Cake</h5>
              <p class="card-text">
                A moist and tender cake base infused with juicy blueberries,
                creating a perfect balance of sweetness and tanginess. Topped
                with a light glaze, it offers a satisfying crunch on the outside
                while remaining soft and fluffy on the inside.
              </p>
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <div class="dropdown">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Quantity
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <button class="dropdown-item" type="button">1</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">2</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">3</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">4</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="apple-fritter-card card">
            <img
              src="{% static 'img/appleFritter.jpeg' %}"
              class="card-img-top"
              alt="apple-fritter"
            />
            <div class="menu-card-body card-body">
              <h5 class="menu-card-title card-title">Apple Fritter</h5>
              <p class="card-text">
                A delightful blend of crisp, tart apples enveloped in a light,
                airy dough, generously coated with a sweet glaze. Satisfying
                crunch of caramelized apple chunks, perfectly complemented by
                hints of cinnamon and spice
              </p>
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <div class="dropdown">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Quantity
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <button class="dropdown-item" type="button">1</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">2</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">3</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">4</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="old-fashion-card card">
            <img
              src="{% static 'img/oldFashion.jpeg' %}"
              class="card-img-top"
              alt="old-fashion"
            />
            <div class="menu-card-body card-body">
              <h5 class="menu-card-title card-title">Old Fashion</h5>
              <p class="card-text">
                Crafted with care and consideration for dietary preferences,
                this classic treat boasts a nostalgic flavor profile with a
                modern twist. Delight in the satisfying texture of a moist,
                cake-like interior, subtly sweetened with hints of vanilla and
                cinnamon
              </p>
              <div class="container text-center">
                <div class="row">
                  <div class="col">
                    <div class="dropdown">
                      <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Quantity
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <button class="dropdown-item" type="button">1</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">2</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">3</button>
                        </li>
                        <li>
                          <button class="dropdown-item" type="button">4</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
